/* START RESET  */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ul, li {
  list-style: none;
}

body {
    line-height:1;
}
/**************** RESET ABOVE *************/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/RobotoExplosion/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/RobotoExplosion/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/RobotoExplosion/Roboto-Black.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/RobotoExplosion/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/RobotoExplosion/Roboto-Medium.ttf');
}
/*************** FONTS ABOVE ****************/

.cursor-pointer{ cursor: pointer; }


body {
	background-color: #f0f0f0;
}
#top-nav{
	width: 100%;
	height: 40px;
	text-align: center;
}
#top-nav img{
	margin: 10px;
	float: left;
}
#top-nav-title{
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
	font-family: 'Roboto';
}
.title {
	font-family: 'Roboto-Black';
	font-weight: normal;
}
#main-article {
	height: 240px;
	margin-bottom: 10px;
	background-color: gray;
	text-align: center;
}
#main-article img.sound-icon{
	padding-top: 80px;
	cursor: pointer;
}
#main-article .title {
	font-size: 35px;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 30px;
}
.article{
	background-color: gray;
	margin: 0 9px 10px 9px;
}
.article-banner{
	height: 100px;
	text-align: center;
}
.article-banner img.sound-icon{
	margin-top: 25px;
	cursor: pointer;
}
.headline-container {
	background-color: white;
	height: 60px;
}
.headline-container .title {
	font-size: 18px;
	padding: 10px;
}


/**************** LISTEN PAGE *********/
#audio-listen #top-nav img{
	margin: 15px;
}
#audio-listen #top-nav .title{
	font-family: 'Roboto-Light';
	display: inline-block;
	float: left;
}
#audio-listen #main-article{
	height: 150px;
}
#audio-listen #main-article img.sound-icon{
	padding-top: 30px;
}
#article-audio{
	width: 90%;
	margin: auto;
	display: block;
	padding-top: 30px;
	background-color: gray;
	border: none;
	height: 10px;
}
#main-article-headline {
	margin: 16px 8px;
}
#main-article-headline .title {
	font-size: 18px;
	margin: 4px;
}
#main-article-headline .sub-title {
	font-size: 13px;
	font-family: 'Roboto-Medium';
	color: #868585;
	margin: 4px;
}
#advertisement{
	width: auto;
	background-color: gray;
	height: 80px;
	margin: 0 8px;
}
#comments-title{
	font-family: 'Roboto-Medium';
	color: #868585;
	margin: 14px 8px;
}

/************* RECORD-COMMENT PAGE***********/
.audio-button{
	height: 70px;
	background-color: blue;
}








