/* START RESET  */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ul, li {
  list-style: none;
}

body {
    line-height:1;
}
/**************** RESET ABOVE *************/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/RobotoExplosion/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/RobotoExplosion/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/RobotoExplosion/Roboto-Black.ttf');
}
/*************** FONTS ABOVE ****************/
body {
	background-color: #f0f0f0;
}
#top-nav{
	width: 100%;
	height: 94px;
	text-align: center;
}
#top-nav img{
	margin: 18px;
	float: left;
}
#top-nav-title{
	font-size: 34px;
	padding: 30px 0;
	text-align: center;
	font-family: 'Roboto';
}
.title {
	font-family: 'Roboto-Black';
	font-weight: normal;
}
#main-article {
	height: 640px;
	margin-bottom: 20px;
	background-color: gray;
	text-align: center;
}
#main-article .title {
	font-size: 76px;
	text-transform: uppercase;
	padding-top: 265px;
	padding-bottom: 30px;
}
#main-article img.sound-icon{
	padding-top: 200px;
	cursor: pointer;
}
.article{
	background-color: gray;
	margin: 0 22px 20px 22px;
}
.article-banner{
	height: 250px;
	text-align: center;
}
.article-banner img.sound-icon{
	margin-top: 100px;
	cursor: pointer;
}
.headline-container {
	background-color: white;
	height: 150px;
}
.headline-container .title {
	font-size: 30px;
	padding: 30px;
}








